.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header{
  background-color: blue;
  list-style-type: none;
  height: 75px;
  font-size: 50px;
  padding-top: 7px
}

img{
  height: 60px;
  float: left;
  padding-right: 3px;
  padding-top: 4px;
  padding-left: 7px;

}

.adminButton{
  float: right;
}

li{
  list-style-type: none;
}

table, tr, td, thead, tbody{
  align-items: center
}