.App {
  text-align: center;
  font-family: fantasy;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header{
  background-color: rgb(80, 173, 59);
  list-style-type: none;
  height: 90px;
  font-size: 50px;
  padding-top: 7px
}

img{
  height: 75px;
  float: left;
  padding-right: 3px;
  padding-top: 4px;
  padding-left: 7px;

}

.adminButton{
  float: right;
  
}

.submitButton{
  float: center;
  margin-left: 40%;
}

li{
  list-style-type: none;
}

Table, tr, td, thead, tbody{
  align-items: center
}


